<div class="content">
  <%= simple_form_for @edition do |f| %>
    <%= f.input :name, label: 'Name' %>
    <%= f.input :current, label: 'Current?' %>
    <%= f.button :submit, value: 'Save' %>
    <%= link_to 'Cancel', editions_path, class: 'button secondary' %>
    <%= link_to 'Delete', edition_path(@edition), {method: :delete, class: 'button alert', data: {confirm: 'Are you sure?'}} unless @edition.new_record? %>
  <% end %>
</div>
