<%= link_to raw('<span class="icon-plus"></span> New Edition'), new_edition_path, { class: 'button right success' } %>
<h1>Editions </h1>
<div class="content edition-list">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Current</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @editions.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= raw(e.current? ? '&#10003;' : '') %></td>
        <td><%= link_to raw('<span class="icon icon-edit"></span> Edit'), edit_edition_path(e), { class: '' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
