<div class="content">
  <%= simple_form_for @project do |f| %>
    <%= f.input :title, label: 'What is the name of this project?', placeholder: 'Project name' %>
    <%= f.input :students, label: 'Which students are involved in this project?', placeholder: 'Your name and the name of your project group members' %>
    <%= select_tag(:semester, options_for_select([['HBO-ICT', "HBO-ICT"], ['CMD', "CMD"], ['Minor', "Minor"], ['Propedeuse', "Propedeuse"]])) %>
    <%= f.input :profile, label: 'What is the profile of the project?', placeholder: 'Enter your profile(s) here if applicable ' %>
    <%= f.input :location, label: 'Where will the project be showcased?', placeholder: 'Example: ICA Lounge or Aula' %>
    <%= f.input :time, label: 'At what time will the project be showcased?', placeholder: 'Example: 14:00 - 16:00' %>
    <%= f.input :description, label: 'Write a short description about the project:', placeholder: 'Project description', input_html: { style: 'height: 200px;' } %>
    <%= f.input :picture, label: 'Paste the URL of a project image:', placeholder: 'Tip: upload your image to imgur.com and paste the URL here', input_html: { type: 'url' } %>
    <% if current_user.try(:admin?) %>
      <%= f.input :approved, label: 'Approved?' %>
    <% elsif current_user.project.try(:id) and !current_user.project.try(:approved) %>
        <p class="white">Your project hasn't been approved by an administrator yet. (<%= Teacher.pluck(:name).join(', ') %>).</p>
    <% end %>
    <%= f.button :submit, value: 'Save' %>
    <% if controller.action_name == 'edit' %>
    <%= link_to 'Delete project', project_path(@project), method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, class: 'button logout' %>
    <% end %>
  <% end %>
</div>