<h1><%= @project.title %></h1>
<div id="votes" class="details">
  <%= image_tag @project.picture %>
  <br /><br />
  <% unless admin? || @project.edition_id != @current_edition.id %>
  <h2>Vote for this project?</h2>
  <% unless current_user %>
  <p class="reminder">You have to be signed in using Facebook to be able to vote.</p>
  <% end %>
  <% @awards.each do |award| %>
    <% if current_user %>
    <% if current_user.votes.pluck(:award_id).include?(award.id) %>
      <% if award.name.match(/tech/i) %>
      <%= link_to raw('<i class="icon-wrench pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, class: 'button disabled expand' %>
      <% elsif award.name.match(/concept/i) %>
      <%= link_to raw('<i class="icon-lightbulb pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, class: 'button disabled expand' %>
      <% elsif award.name.match(/present/i) %>
      <%= link_to raw('<i class="icon-sun pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, class: 'button disabled expand' %>
      <% elsif award.name.match(/audience/i) %>
      <%= link_to raw('<i class="icon-group pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, class: 'button disabled expand' %>
      <% end %>
    <% else %>
      <% if award.name.match(/tech/i) %>
      <%= link_to raw('<i class="icon-wrench pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, data: { confirm: 'Are you sure you want to vote for ' + @project.title  + ' for the award ' + award.name + '?' }, class: 'button expand' %>
      <% elsif award.name.match(/concept/i) %>
      <%= link_to raw('<i class="icon-lightbulb pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, data: { confirm: 'Are you sure you want to vote for ' + @project.title  + ' for the award ' + award.name + '?' }, class: 'button expand' %>
      <% elsif award.name.match(/present/i) %>
      <%= link_to raw('<i class="icon-sun pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, data: { confirm: 'Are you sure you want to vote for ' + @project.title  + ' for the award ' + award.name + '?' }, class: 'button expand' %>
      <% elsif award.name.match(/audience/i) %>
      <%= link_to raw('<i class="icon-group pull-left"></i>' + award.name), votes_path(award_id: award.id, project_id: @project.id), method: :post, data: { confirm: 'Are you sure you want to vote for ' + @project.title  + ' for the award ' + award.name + '?' }, class: 'button expand' %>
      <% end %>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  <p>
    <strong>Student(s): </strong><%= @project.students %><br />
    <strong>Semester/minor: </strong><%= @project.semester %><br />
    <strong>Location: </strong><%= @project.location %><br />
    <strong>Time: </strong><%= @project.time %>
  </p>
  <p><%= simple_format @project.description %></p>
</div>
